 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

 section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
 }

 section .imageBox {
    position: relative;
    width: 50%;
    height: 100%;
 }

 section .imageBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #b15a13, #2a99a1);
    z-index: 1;
    mix-blend-mode: screen;
 }

 section .imageBox img  {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 section .contentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
 }

 section .contentBox .formBox {
    width: 50%;
 }

 section .contentBox .formBox h2 {
    color: #607d8b;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
 }

 section .contentBox .formBox .inputBox {
    margin-bottom: 20px;
 }

 section .contentBox .formBox .inputBox span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
 }

 section .contentBox .formBox .inputBox input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400px;
    border: 1px solide #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
 }

 section .contentBox .formBox .inputBox input[type="submit"] {
    background-color: #ff4584;
    color: #fff;
    outline: none;
     border: none;
     font-weight: 500;
     cursor: pointer;
 }

 section .contentBox .formBox .inputBox input[type="submit"]:hover {
    background: #830831;
 }

 section .contentBox .formBox .remember {
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
 }

 section .contentBox .formBox .inputBox p {
    color: #607d8b;
 }

 section .contentBox .formBox .inputBox p {
    color: #ff4584;
 } 


 @media (max-width: 768px) {
    section .imageBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    section .contentBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    section .contentBox .formBox {
        width: 100%;
        padding: 40px;
        background: rgb(255 255 255 / 0.9);
        margin: 50px;
    }
 }

